name: Deploy to VDS

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

env:
  BLOG_VERSION: 0.0.${{ github.run_number }}

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.0.6
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: build
      - name: Docker build
        run: docker build -t smart4it.ru/blog:${{ env.BLOG_VERSION }} .
      - name: Docker compose up
        run: docker-compose -f "/home/udocker/docker-compose.yaml" -p smart4it up -d blog

  create-tag:
    runs-on: ubuntu-latest
    needs: build-and-deploy
    permissions: write-all
    steps:
      - name: Create tag
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ env.BLOG_VERSION }}',
              sha: context.sha
            })

  remove-unused-images:
    runs-on: self-hosted
    needs: build-and-deploy
    steps:
      - name: Remove unused images
        run: docker image prune -a -f